.logo{
    height: 31px;
}

.footerIcion{
    height: 24px;  
}



.footer{
    //--修改輸入框預設字體顏色
    ::placeholder {
        /* CSS 3 標準 */
        font-size: 20px;
        line-height: 30px;
    
    }
    
    ::-webkit-input-placeholder {
        /* Chrome, Safari */
        font-size: 20px;
        line-height: 30px;
    
    }
    
    :-ms-input-placeholder {
        /* IE 10+ */
        font-size: 20px;
        line-height: 30px;
    
    }
    
    ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 20px;
        line-height: 30px;
        opacity: 1;
    }

}