.banner {
  background-image: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/photo-1612157777902-5382bc6e864b.jpeg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 582px;

  @include sm {
    height: 560px;
  }
}

.slogan {
  padding-top: 185px;
}


.fitness {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/photo-1593810450967-f9c42742e326.jpeg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 420px;
  border-radius: 16px;

  @include md {
    margin-bottom: 16px;
    height: 252px;
  }

}

.relax {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/photo-1593810451137-5dc55105dace.jpeg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 420px;
  border-radius: 16px;

  @include md {
    margin-bottom: 16px;
    height: 252px;
  }
}

.sculpt {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/photo-1599901860904-17e6ed7083a0.jpeg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 420px;
  border-radius: 16px;

  @include md {
    margin-bottom: 16px;
    height: 252px;
  }
}

// -------------------

.teachers .bgImg {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/photo-1540206276207-3af25c08abc4.jpeg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 628px;
  border-radius: 16px;

  @include md {
    display: none;
  }
}


.teacherCardTop {
  background: white;
  border-radius: 16px;
  height: 174px;
  margin-bottom: 16px;
  margin-left: -95px;

  img {
    height: 94px;
  }

  @include md {
    margin-left: 0;
  }

  @include sm {
    height: 142px;
    margin-left: 0;

    img {
      height: 48px;
    }
  }
}

.teacherCard {
  background: white;
  border-radius: 16px;
  height: 116px;
  margin-bottom: 16px;

  img {
    height: 68px;
  }

  @include md {
    height: 90px;

    img {
      height: 48px;
    }
  }
}

// -------------------

.bgImg .first {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/carl-barcelo-nqUHQkuVj3c-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 444px;
  border-radius: 16px;

  @include md {
    height: 266px;
  }

  @include sm {
    height: 210px;
  }
}

.bgImg .second {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/white%20round%20table%20near%20brown%20wooden%20chair.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 207px;
  border-radius: 16px;
  margin-bottom: 30px;

  @include md {
    height: 117px;
  }

  @include sm {
    height: 210px;
  }
}

.bgImg .third {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/woman%20in%20black%20sports%20bra%20and%20blue%20denim%20jeans%20doing%20yoga.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 207px;
  border-radius: 16px;

  @include md {
    height: 117px;
  }


  @include sm {
    display: none;
  }
}

.environment h2 {
  padding-top: 145px;

  @include md {
    padding-top: 48px;
  }
}


// -------------------

.lesson h2 {
  padding-top: 145px;

  @include md {
    padding-top: 90px;
  }

  @include sm {
    padding-top: 0px;
  }
}


.lesImg {
  width: 445px;
  height: 445px;
  border-radius: 16px;
}

.bgImgBox {
  height: 100%;
}

.StartTop {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/woman%20doing%20yoga%20beside%20wall.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 150px;
  border-radius: 16px;

  @include sm {
    height: 246px;
  }
}



.EndTop {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/rawan-yasser-zQ1ypq-WHzQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 150px;
  border-radius: 16px;

  @include sm {
    height: 246px;
  }
}

.StartBot {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/woman%20in%20black%20sports%20bra%20and%20black%20leggings%20doing%20yoga.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 150px;
  border-radius: 16px;

  @include sm {
    height: 246px;
  }
}

.EndBot {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/woman%20in%20white%20tank%20top%20and%20white%20leggings%20bending%20her%20body.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px;
  border-radius: 16px;

  @include sm {
    height: 246px;
  }
}







// -------------------


.planCard {
  height: 497px;
  border-radius: 16px;
  border: 1px solid $secondary;

  @include md {
    height: 238px;
  }

  @include sm {
    height: 497px;
  }
}

.planBox {
  width: 85%;
}

.planBtn {
  width: 100%;
}




.planCard .firstTime {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/woman%20in%20white%20tank%20top%20and%20white%20leggings%20bending%20her%20body.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  border-radius: 16px 16px 0 0;

  @include md {
    width: 345px;
    height: 238px;
    border-radius: 16px 0 0 16px;
  }

  @include sm {
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0 0;
  }
}

.planCard .shortTime {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/woman%20performing%20yoga.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  border-radius: 16px 16px 0 0;

  @include md {
    width: 345px;
    height: 238px;
    border-radius: 16px 0 0 16px;
  }

  @include sm {
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0 0;
  }

}

.planCard .longTime {
  background: url('https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/woman%20in%20blue%20leggings%20and%20black%20tank%20top%20doing%20yoga.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  border-radius: 16px 16px 0 0;

  @include md {
    width: 345px;
    height: 238px;
    border-radius: 16px 0 0 16px;
  }

  @include sm {
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0 0;
  }
}





// -------------------



.myRecSwiper {
  height: 300px;
  @include sm{
    height: 364px;
  }
}

.swiper-slide {
  height: auto;
  width: auto;
}

.recBox {
  height: 116px;
  width: 100%;
  background: white;
  border-radius: 16px;

  img {
    height: 60px;
  }
}

.swiper-button-prev { 
  background-image: url("") !important; 
} 

.swiper-button-next { 
  background-image: url("") !important; 
} 