<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css" />
</head>

<body>
  <header class="header">
    <nav class="navbar navbar-expand-md navbar-light bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#"><img
            src="https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/DOYOGA-logo.png"
            alt="logo" class="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav position-md-absolute top-md-50 start-md-50 translate-md-middle ">
            <li class="nav-item">
              <a class="nav-link fw-light" href="#">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-light" href="#">瑜珈空間</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-light" href="#">當月課表</a>
            </li>
          </ul>
        </div>
        <div class="header_btn  d-none d-md-block">
          <button type="button" class="btn btn-outline-dark">立即預約</button>
          <button type="button" class="btn btn-outline-dark">聯絡我們</button>
        </div>
      </div>
    </nav>
  </header>

  <%- contents %>

  <footer class="footer bg-dark ">
    <div class="sub border-bottom">
      <div class="container">
        <div class="row pt-5 pb-4">
          <div class="col-md-8 pb-2">
            <p class="textL text-white">現在訂閱，獲得課程優惠碼！</p>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="請輸入您的電子信箱">
              <button type="button" class="btn btn-secondary">訂閱</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="endBar">
      <div class="container pb-5">
        <div class="barImg d-flex justify-content-between pb-2 pt-5">
          <a href=""><img src="https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/DOYOGA.png"
              alt="" class="logo"></a>
          <ul class=" d-flex">
            <li><a href="#"><img src="https://raw.githubusercontent.com/zhfino/yoga_w8/a05e2129d0769d872d6efada2114f1307e3818f6/app/assets/images/icon-fb.svg" alt="icon_fb" class="footerIcion"></a></li>
            <li><a href="#"><img src="https://raw.githubusercontent.com/zhfino/yoga_w8/a05e2129d0769d872d6efada2114f1307e3818f6/app/assets/images/icon-ig.svg" alt="icon_ig" class="footerIcion ms-2"></a></li>
            <li><a href="#"><img src="https://raw.githubusercontent.com/zhfino/yoga_w8/a05e2129d0769d872d6efada2114f1307e3818f6/app/assets/images/icon-line.svg" alt="icon_line" class="footerIcion ms-2"></a></li>
          </ul>
        </div>
        <div class="barList position-relative">
          <ul>
            <li><a href="" class="text-white fw-light pb-2">課程介紹</a></li>
            <li><a href="" class="text-white fw-light pb-2">瑜珈空間</a></li>
            <li><a href="" class="text-white fw-light">當月課表</a></li>
          </ul>
          <p class="text-white position-md-absolute bottom-md-0 start-md-50 translate-middle-md-x ">© 2021. All Rights Reserved.</p>

        </div>
      </div>
    </div>
  </footer>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  
</body>

</html>