<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>督優尬</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

  <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />       
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img
            src="https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/DOYOGA-logo.png"
            alt="logo" class="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav position-lg-absolute top-lg-50 start-lg-50 translate-lg-middle ">
            <li class="nav-item">
              <a class="nav-link fw-light" href="#">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-light" href="#">瑜珈空間</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-light" href="#">當月課表</a>
            </li>
          </ul>
        </div>
        <div class="header_btn  d-none d-lg-block">
          <button type="button" class="btn btn-outline-dark">立即預約</button>
          <button type="button" class="btn btn-outline-dark">聯絡我們</button>
        </div>
      </div>
    </nav>
  </header>
  <ul class="floatMenu d-lg-block d-none me-3">
    <li class="mb-2"><a href="#"><img src="https://raw.githubusercontent.com/zhfino/yoga_w8/e1f67719a02ae3fdad79e7758c5f6cb77652bba3/app/assets/images/icon-fb-primary.svg" alt=""></a></li>
    <li class="mb-2"><a href="#"><img src="https://raw.githubusercontent.com/zhfino/yoga_w8/e1f67719a02ae3fdad79e7758c5f6cb77652bba3/app/assets/images/icon-ig-primary.svg" alt=""></a></li>
    <li><a href="#"><img src="https://raw.githubusercontent.com/zhfino/yoga_w8/e1f67719a02ae3fdad79e7758c5f6cb77652bba3/app/assets/images/icon-line-primary.svg" alt=""></a></li>
  </ul>

  <%- contents %>

  <footer class="footer bg-dark ">
    <div class="sub border-bottom">
      <div class="container">
        <div class="row pt-4 pt-md-5 pb-4 pb-md-5">
          <div class="col-lg-8 pb-2">
            <p class="textM textL-md text-white">現在訂閱，獲得課程優惠碼！</p>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="請輸入您的電子信箱">
              <button type="button" class="btn btn-secondary text-white">訂閱</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="endBar">
      <div class="container pt-4 pt-md-5 pb-5">
        <div class="barImg d-flex justify-content-between pb-2">
          <a href=""><img src="https://raw.githubusercontent.com/zhfino/yoga_w8/main/app/assets/images/DOYOGA.png"
              alt="" class="logo"></a>
          <ul class=" d-flex">
            <li><a href="#"><img src="https://raw.githubusercontent.com/zhfino/yoga_w8/a05e2129d0769d872d6efada2114f1307e3818f6/app/assets/images/icon-fb.svg" alt="icon_fb" class="footerIcion"></a></li>
            <li><a href="#"><img src="https://raw.githubusercontent.com/zhfino/yoga_w8/a05e2129d0769d872d6efada2114f1307e3818f6/app/assets/images/icon-ig.svg" alt="icon_ig" class="footerIcion ms-2"></a></li>
            <li><a href="#"><img src="https://raw.githubusercontent.com/zhfino/yoga_w8/a05e2129d0769d872d6efada2114f1307e3818f6/app/assets/images/icon-line.svg" alt="icon_line" class="footerIcion ms-2"></a></li>
          </ul>
        </div>
        <div class="barList position-relative">
          <ul>
            <li class="pb-2"><a href="" class="text-white fw-light">課程介紹</a></li>
            <li class="pb-2"><a href="" class="text-white fw-light">瑜珈空間</a></li>
            <li class="pb-2 pb-md-0"><a href="" class="text-white fw-light">當月課表</a></li>
          </ul>
          <p class="text-white position-md-absolute bottom-md-0 start-md-50 translate-middle-md-x ">© 2021. All Rights Reserved.</p>

        </div>
      </div>
    </div>
  </footer>


  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>  
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>   
  <script src="./assets/js/all.js"></script>
</body>

</html>