.textXS {
    font-size: 14px;
}

.textD {
    font-size: 16px;
}

.textS {
    font-size: 20px;
}

.textM {
    font-size: 24px;
}

.textMM {
    font-size: 24px;
    line-height: 30px;
}

.textL {
    font-size: 28px;
}


::placeholder {
    /* CSS 3 標準 */
    color: $dark !important;
    font-size: 20px;
    line-height: 30px;

}

::-webkit-input-placeholder {
    /* Chrome, Safari */
    color: $dark !important;
    font-size: 20px;
    line-height: 30px;

}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $dark !important;
    font-size: 20px;
    line-height: 30px;

}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $dark !important;
    font-size: 20px;
    line-height: 30px;

    opacity: 1;
}




@include media-breakpoint-up(sm) {
    .textD-sm {
        font-size: 16px;
    }
}

@include media-breakpoint-up(md) {

    .textL-md {
        font-size: 28px;
    }

    .position-md-absolute {
        position: absolute !important;
    }

    .top-md-50 {
        top: 50% !important;
    }

    .start-md-50 {
        left: 50% !important;
    }

    .bottom-md-0 {
        bottom: 0 !important;
    }

    .translate-md-middle {
        transform: translate(-50%, -50%) !important;
    }

    .translate-middle-md-x {
        -webkit-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
    }
}

@include media-breakpoint-up(lg) {

    .position-lg-absolute {
        position: absolute !important;
    }

    .top-lg-50 {
        top: 50% !important;
    }

    .start-lg-50 {
        left: 50% !important;
    }

    .bottom-lg-0 {
        bottom: 0 !important;
    }

    .translate-lg-middle {
        transform: translate(-50%, -50%) !important;
    }

    .translate-middle-lg-x {
        -webkit-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
    }
}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}